.sidebarContainer {
    position: relative;
    flex: 1 1 30%;
    display: flex;
    .sidebarContent {
        position: absolute;
        top: 5%;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: lighten(#000000,  10%);
        border-top-right-radius: 1rem;
        padding: 4rem 2rem 2rem;
        .sidebarTitle {
            color: white;
            font-size: 1.3rem;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 2.5rem;
        }

        .sidebarAddBtn {
            background-color: darken(dimgray, 10%);
            color: lighten(dimgray, 30%);
            padding: .5rem 1rem;
            border-radius: 5px;

            &:hover {
                background-color: lighten(dimgray, 30%);
                color: darken(dimgray, 10%);
            }
        }
    }
}